/** VARIÁVEIS GENÉRICAS */
:root {
    --primary-color: #000;
    --secondary-color: red;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    width: 100%;
    padding: 15px 40px;
}

.logo img {
    width: 120px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}   

/* SECTION */